{% extends 'base.html' %}
{% load urlextend %}
{% block container %}
    <div class="container chat-container" style="background: url('/static/img/19.jpg') no-repeat fixed;background-size:100% 100%;">
    <div class="row">
        <div class="col-md-1 col-xs-1 left-function">
            <div style="margin-left: -3px;margin-top: 10px"><img src="/static/{{ request.user.userprofile.head_img|show_img }}" style="border-radius: 25px"></div>
        </div>
        <div class="col-md-3 col-xs-3 left-contact-panel">
            <div style="margin: 0 -15px;">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#myfriend" aria-controls="myfriend" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> 好友</a></li>
                    <li role="presentation"><a href="#mygroup" aria-controls="mygroup" role="tab" data-toggle="tab"><span class="fa icon-group"></span> 群组</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" style="overflow-y: auto;height: 658px">
                    <div role="tabpanel" class="tab-pane active" id="myfriend">
                        <ul class="list-group" role="tablist">
                            {% for friend in request.user.userprofile.friends.select_related %}
                                <li class="list-group-item" action="chat" role="presentation" friendname="{{ friend.name }}" friendid="{{ friend.id }}" friendtype="friend">
                                    <span class="badge">14</span>
                                    <a href="#myfriend{{ friend.id }}" aria-controls="myfriend{{ friend.id }}" role="tab" data-toggle="tab" style="text-decoration: none;" >
                                        <img src="/static/{{ friend.head_img|show_img }}" width="19" height="19" style="border-radius: 25px"> {{ friend.name|truncatechars:15 }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="mygroup">
                        <ul class="list-group">
                            {% for friend in request.user.userprofile.group_members.select_related %}
                                <li class="list-group-item" action="chat" role="presentation" friendname="{{ friend.name }}" friendid="{{ friend.id }}" friendtype="group">
                                    <span class="badge">14</span>
                                    <a href="#mygroup{{ friend.id }}" aria-controls="mygroup{{ friend.id }}" role="tab" data-toggle="tab" style="text-decoration: none;">
                                        <img src="/static/{{ friend.head_img|show_img }}" width="19" height="19"> {{ friend.name|truncatechars:15 }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-8 col-xs-8 right-chat-panel tab-content">
            <div role="tabpanel" class="tab-pane" id="" >
                <div class="row chat-box-title">
                    <span role="tabpanel">正在聊天</span>
                    <span class="fa icon-folder-open-alt icon-2x pull-right" style="line-height: 65px;padding-right: 25px;color: #83c6e0"></span>
                </div>
                <div class="row chat-box-window">
                </div>
                <div class="row chat-box-emoj">
                    <span class="glyphicon glyphicon-picture" style="margin: 5px"></span>
                    <span class="fa icon-music "></span>
                </div>
                <div class="row chat-box-msg-box">
                    <textarea style="resize: none;height: 100%;width: 100%;border: none;outline: none;" spellcheck="false"></textarea>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs-4" style="line-height: 35px"><a href="">广告滚动的位置</a></div>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-success">发送</button>
                        <button type="button" class="btn btn-success dropdown-toggle" style="border-radius:0;border-bottom-right-radius: 10px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <select class="dropdown-menu" multiple="multiple" size="2" name="sendkey">
                            <option value="1">按Enter键发送消息</option>
                            <option value="2">按Ctrl+Enter键发送消息</option>
                        </select>
                    </div>
                </div>
            </div>


        </div>
    </div>

    </div>
{% endblock %}


{% block js %}
<script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


    //克隆对话框
        function CloneChatWindow(chatid) {
            var get_id = $("[id="+chatid+"]");
            if(!get_id.length){
                var chatwindow = $(".right-chat-panel").children(":first").clone(true);
                $(".right-chat-panel").append(chatwindow).children(":last").attr('id', chatid);
                console.log(chatwindow);
            }
            $("[id="+chatid+"]").addClass('active').siblings().removeClass('active');

        }
    //获取用户信息
    function ReplaceInfo(current_click, destination_chat_window_id) {
        var friendid = $(current_click).attr('friendid');
        var friendname = $(current_click).attr('friendname');
        var friendtype = $(current_click).attr('friendtype');
        var friendlabel = $("[id="+ destination_chat_window_id +"]").find('.chat-box-title').children('[role="tabpanel"]');
        friendlabel.html('正在与' + friendname + '对话');
        friendlabel.attr({'friendid':friendid,'friendtype': friendtype});
    }

    //send message
    function SentMsg(message,friendid, friendtype,panelid) {
        $.post("{% url 'send_msg' %}",{'message': message, 'friendid': friendid, friendtype:friendtype},function (callback) {
            console.log(callback);
            ShowChatMsg(message, friendid, panelid);
        })
    }

    //面板显示发送的消息
    function ShowChatMsg(message, friendid, panelid) {
        var get_friend_in_list = $('.left-contact-panel .tab-content').find('[friendid='+friendid+']');
        var friend_head_img = get_friend_in_list.find('img').attr('src');
        var get_friend_in_chat_window = $("#"+ panelid).find('.chat-box-window');
        var new_message = "<div>" +
                        '<img src="/static/{{ request.user.userprofile.head_img|show_img }}" style="border-radius: 25px" width="21" height="21">' +
{#                        '<img width="21" height="21" style="border-radius:25px" src=' + friend_head_img + '>' +#}
                        '<span>' + '{{ request.user.userprofile.name }}' + '</span>' +
                        ' <span>' + new Date().toLocaleTimeString() + '</span>' +
                        '<div ><span class="form-signin-div"></span><span class="left-message">' + message + '</span></div>' +
{#                        '<span class="left-message">' + message + '</span>' +#}
                        '</div>';
        get_friend_in_chat_window.append(new_message);
{#        var before_html = get_friend_in_chat_window.html();#}
{#        get_friend_in_chat_window.html(before_html + friend_head_img + message)#}
        $("#"+panelid).find(".chat-box-msg-box textarea").val(''); //初始化输入框

        console.log(get_friend_in_list, get_friend_in_chat_window, friend_head_img)
    }

    $(document).ready(function(){
        //设置CSRF头部信息
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                } }
        });
        //设置导航栏标签 聊天室为active状态
        $(".nav a[href='{{ request.path }}']").parent().addClass("active");

        //设置好友与群组的手势图标及active,和文字状态
        $('[action="chat"]').click(function () {
            $("[action='chat']").removeClass('active').find('a').css({'color':'#337ab7'});//移除所有active样式
            $(this).addClass('active').find('a').css('color','#fff');//给当前点击的元素添加active样式
            var chatid = $(this).find('a').attr('aria-controls');
            CloneChatWindow(chatid);
            ReplaceInfo(this, chatid)
        });
        $("[action='chat']").css('cursor', 'pointer');//将所有匹配的元素鼠标放上去后换成手势样式


        //准备发送消息
        $("body").delegate(".chat-box-msg-box textarea", 'keydown', function (event) {
            console.log(event.which);
            if(event.which == 13){
                var chat_msg = $(this).val();
                var get_panel = $('.right-chat-panel').find(".tab-pane.active");
                var get_chat_window = get_panel.find('.chat-box-title [role="tabpanel"]');
                var friendid = get_chat_window.attr('friendid');
                var friendtype = get_chat_window.attr('friendtype');
                var panelid = get_panel.attr('id');//获取聊天窗口ID

                console.log(chat_msg, friendid, friendtype);
                SentMsg(chat_msg, friendid, friendtype, panelid);
            }
        })




    });//end doc ready

</script>
{% endblock %}